// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #d93eba;
$body-bg: #fff;
$secondary: #8300d9;


// @import "~node_modules/bootstrap/scss/bootstrap";
