@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* change the colors */

/* Reseting */

.table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }
  
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
  }
  
  #customers td{
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers td:nth-child(odd){background-color: #ddd;}
  
  #customers td:hover {background-color: #f2f2f2;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    text-align: left;
    background-color: black;
    color: white;
    width: 15px;
  }

  .btn-log{
    background-color: #242368;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    margin: 10px 2px;
    font-weight: bold;
    pointer-events: none;
    border-radius: 20px;
  }

.print{
  background-color: white;
    display: inline-flex;
 
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    outline:none;

}

.list_wrapper{
 width: 200px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


.form-select {
  border-radius: 6px !important;
  border: 2px solid black !important;
}

.form-select:focus {
  border: 2px solid black !important;
  border-color: black !important;
  outline: 0 !important;
  box-shadow: none !important;

}

.search{
  border-radius: 20px !important;
  border: 2px solid black !important;
  height:35px;
}
