.ticket {
    width: 80% !important;
    padding-top: 3rem;
    padding-bottom: 1rem;
    /* margin: 50px 50px 50px 50px!important; */
}

.backText {
    margin-left: 5.2rem;
    margin-right: 5.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}




.btnView{
    width: 40% !important;
    padding: 5px 5px 5px 5px;
    height: max-content !important;
    border-radius: 40px !important;
    border: none;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2) !important;
    background-color: #FFFFFF !important;
    color: black !important;
    font-weight: 600 !important;  
}

.btnLogin {
    width: 35% !important;
    padding: 5px 5px 5px 5px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #242368 !important;
    color: whitesmoke !important;
    border: 1px solid #242368 !important;
    font-weight: 600 !important;
}

.btnLogin:active,
.btnLogin:hover {
    border: 1px solid whitesmoke !important;
    background-color: whitesmoke !important;
    color: #242368 !important;
    box-shadow: none !important;
}
@media only screen and (max-width: 980px) {
    .btnLogin{
        width: 60%!important;
    }

}
#container {
    display: flex;
    justify-content: space-between;

    margin: auto;

}


#btndelete {
    width: 40% !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
}

.buttonNew {
    display: inline-block;
    width: 40% !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: whitesmoke !important;
    border: 2px solid #100f44 !important;
    color: #100f44 !important;
    font-weight: 600 !important;
}

.buttonNew:active,
.buttonNew:hover {
    background-color: #100f44 !important;
    color: whitesmoke !important;
    box-shadow: none !important;
    border: 2px #100f44 solid !important;
}

.buttonView {
    display: inline-block;
    width: 10rem !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;
}

.buttonView:active,
.buttonView:hover {
    border: 1px solid whitesmoke !important;
    background-color: whitesmoke !important;
    color: #100f44 !important;
    box-shadow: none !important;
}

.btnLog {
    display: inline-block;
    width: 30% !important;
    margin: 15px 15px 15px 15px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;

}

.btnLog:active,
.btnLog:hover {
    border: 1px solid #100f44 !important;
    background-color: whitesmoke !important;
    color:  #100f44 !important;
    box-shadow: none !important;
}
.buttonCancel {
    display: inline-block;
    width: 30% !important;
    margin: 15px 15px 15px 15px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: whitesmoke !important;
    color: #100f44 !important;
    border: 1px solid#ffffff !important;
    font-weight: 600 !important;

}



.buttonCancel:active,
.buttonCancel:hover {
    border: 1px solid #100f44 !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    box-shadow: none !important;
}

.form-select {
    border-radius: 6px !important;
    border: 2px solid black !important;
}

.form-select:focus {
    border: 2px solid black !important;
    border-color: black !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.form-control {
    border-radius: 6px !important;
    border: 2px solid black !important;
}

.form-control:focus {
    border: 2px solid black !important;
    border-color: black !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.badge {
    background-color: #100f44;
    color: #ffffff;
    border-radius: 50px !important;
}

.card {
    width: 80% !important;
    margin: auto;
    margin-top: 3rem;
    border: 0px solid !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #ffffff;
}

.myHeader {
    margin: auto;
    margin-top: 3rem;
}

.bold-option {
    font-weight: bold;
  }


