@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* change the colors */

/* Reseting */

.table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#customers td {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers td:nth-child(odd) {
    background-color: #ddd;
}

#customers td:hover {
    background-color: #f2f2f2;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    text-align: left;
    background-color: black;
    color: white;

}

/* .btn-log{
    background-color: #242368;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    margin: 10px 2px;
    font-weight: bold;
    pointer-events: none;
    border-radius: 20px;
  } */

.delete {
    display: inline-flex;
    background-color: #ddd;
    border: none;
    color: red;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    outline: none;

}

.logForm {
    /* width: 80% !important;
    padding-top: 3rem;
    padding-bottom: 1rem; */
    /* margin: 50px 50px 50px 50px!important; */
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 760px) {
    .logForm {
        width: 100% !important;
    }

    .backText {
        margin-left: 0em !important;
        margin-right: 0em !important;
    }

}

.backText {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 8px;
}


.btnLog {
    display: inline-block;
    width: 40% !important;
    margin: 15px 15px 15px 15px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;

}

.btnLog:active,
.btnLog:hover {
    border: 1px solid #100f44 !important;
    background-color: whitesmoke !important;
    color: #100f44 !important;
    box-shadow: none !important;
}

.buttonCancel {
    display: inline-block;
    width: 40% !important;
    margin: 15px 15px 15px 15px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: whitesmoke !important;
    color: #100f44 !important;
    border: 1px solid#ffffff !important;
    font-weight: 600 !important;

}



.buttonCancel:active,
.buttonCancel:hover {
    border: 1px solid #100f44 !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    box-shadow: none !important;
}



.buttonGenerate {

    width: 45% !important;
    padding-left: 55px;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: whitesmoke !important;
    color: #100f44 !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;

}

.buttonGenerate:active,
.buttonGenerate:hover {
    border: 1px solid #100f44 !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    box-shadow: none !important;
}


#btndelete {
    width: 40% !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
}

.modal-body {
    width: 100%;
    height: auto;
}

.buttonNew {
    display: inline-block;
    width: 40% !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: whitesmoke !important;
    border: 2px solid #100f44 !important;
    color: #100f44 !important;
    font-weight: 600 !important;
}

.buttonNew:active,
.buttonNew:hover {
    background-color: #100f44 !important;
    color: whitesmoke !important;
    box-shadow: none !important;
    border: 2px #100f44 solid !important;
}

.buttonView {
    display: inline-block;
    width: 10rem !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;
}

.buttonView:active,
.buttonView:hover {
    border: 1px solid whitesmoke !important;
    background-color: whitesmoke !important;
    color: #100f44 !important;
    box-shadow: none !important;
}

.buttonLog {
    display: inline-block;
    width: 60% !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;

}

.buttonLog:active,
.buttonLog:hover {
    border: 1px solid whitesmoke !important;
    background-color: #100f44 !important;
    color: 1px whitesmoke !important;
    box-shadow: none !important;
}

.buttonName {
    display: inline-block;
    width: 60% !important;
    margin: 10px 10px 10px 10px;
    height: max-content !important;
    border-radius: 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    background-color: #100f44 !important;
    color: whitesmoke !important;
    border: 1px solid#100f44 !important;
    font-weight: 600 !important;

}

.buttonName:active,
.buttonName:hover {
    border: 1px solid whitesmoke !important;
    background-color: #100f44 !important;
    color: 1px whitesmoke !important;
    box-shadow: none !important;
}

.form-select {
    border-radius: 6px !important;
    border: 2px solid black !important;
}

.form-select:focus {
    border: 2px solid black !important;
    border-color: black !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.form-control {
    border-radius: 6px !important;
    border: 2px solid black !important;
}

.form-control:focus {
    border: 2px solid black !important;
    border-color: black !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.badge {
    background-color: #100f44;
    color: #ffffff;
    border-radius: 50px !important;
}

.card {
    width: 80% !important;
    margin: auto;
    margin-top: 3rem;
    border: 0px solid !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #ffffff;
}

.myHeader {
    margin: auto;
    margin-top: 3rem;
}
