@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* change the colors */

/* Reseting */

.table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }
  
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
  }
  
  #customers td{
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers td:nth-child(odd){background-color: #ddd;}
  
  #customers td:hover {background-color: #f2f2f2;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    text-align: left;
    background-color: black;
    color: white;
    width: 15px;
  }